/* ****************************** CSS RESET ****************************************************** */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* ****************************** CSS RESET ****************************************************** */

/* ******************************* FONTS ********************************************************* */
@font-face {
  font-family: "fraunces";
  src: url(./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf);
}

@font-face {
  font-family: "manrope";
  src: url(./assets/fonts/manrope/static/Manrope-Regular.ttf);
}
/* ******************************* FONTS ********************************************************* */
/* ***************************** DESKTOP ******************************************************* */

.maxwidth-wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #24053e;
  color: white;
  border: 1px solid transparent;
  position: relative;
  min-height: 730px;
  overflow: hidden;
  border-bottom-right-radius: 100% 15%;
  border-bottom-left-radius: 100% 15%;
  z-index: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 165px;
}

.navigation p {
  font-family: "manrope";
  font-weight: 800;
  border-bottom: 3px solid #44ffa1;
}

.title {
  /* border: 3px solid chartreuse; */
  margin: 0 auto;
  max-width: 635px;
  margin-top: 65px;
}

.title h1 {
  text-align: center;
  font-family: "fraunces";
  font-size: 80px;
  line-height: 1;
}

.tailored {
  display: inline-block;
  border-bottom: 3px solid #44ffa1;
}

.learn-more {
  width: fit-content;
  margin: 37px auto;
}

.learn-more button {
  font-family: "manrope";
  font-size: 18px;
  padding: 16px 32px;
  background-color: #44ffa1;
  border: none;
}

.hero-image {
  z-index: 1;
  position: absolute;
  top: 460px;
  left: 50%;
  width: clamp(520px, 65%, 773px);
  transform: translateX(-50%);
}

.hero-image img {
  width: 100%;
}

.pattern-1 {
  width: 270px;
  position: absolute;
  top: 116px;
  left: -100px;
}

.pattern-1 img {
  width: 100%;
}

.pattern-2 {
  width: 150px;
  position: absolute;
  top: 350px;
  right: -43px;
}

.pattern-2 img {
  width: 100%;
}

/* ************************** BULLET SECTION DESKTOP ************************** */

.bullets {
  /* border: 3px solid chartreuse; */
  padding: 370px 12% 171px;
  transform: translateY(-100px);
  background-color: #fcf8ff;
  border-bottom-right-radius: 100% 15%;
  border-bottom-left-radius: 100% 15%;
}

.bullet-section {
  /* border: 3px solid chartreuse; */
  display: flex;
  justify-content: space-between;
  gap: 26px;
}

.bullet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-wrap: wrap;
  text-align: center;
  color: #24053e;
}

.bullet-number-wrapper {
  display: grid;
  place-content: center;
}

.bullet-number {
  font-family: "fraunces";
  font-size: 24px;
  border: 1px solid black;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: grid;
  place-content: center;
}

.bullet-title {
  font-family: "fraunces";
  font-size: 32px;
}

.bullet-description {
  font-family: "manrope";
  font-size: 18px;
}

/* ************************ FOUNDER SECTION DESKTOP***************************** */

.founder-wrapper {
  /* border: 4px dashed red; */
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  min-height: 650px;
  margin-top: 10px;
}

.founder-picture {
  position: absolute;
  width: 43%;
  min-width: 281px;
  height: 43%;
  top: 0;
  left: 0;
}

.founder-picture img {
  width: 100%;
}

.founder-message {
  /* border: 3px solid teal; */
  color: white;
  width: 66%;
  min-width: 514px;
  background-color: #24053e;
  position: absolute;
  right: 0;
  bottom: clamp(0px, calc(-70px + 0.0908 * 100vw), 61px);
}

.founder-flex-wrapper {
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.founder-title {
  font-family: "fraunces";
  font-size: 56px;
}

.founder-description {
  font-family: "manrope";
  font-size: 18px;
}

.founder-svg {
  position: absolute;
  width: fit-content;
  bottom: -80px;
  right: 20%;
}

.founder-button {
  width: 190px;
  height: 61px;
  background-color: #44ffa1;
  border: none;
  font-family: "manrope";
  font-weight: bold;
}

/* ********************************** FOOTER DESKTOP **************************** */

footer {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 75px 0 110px;
}

.socials {
  display: flex;
  gap: 32px;
}

/* ************************************ TABLET ******************************** */

@media screen and (max-width: 1100px) {
  .header {
    min-height: 540px;
    border-bottom-right-radius: 100% 15%;
    border-bottom-left-radius: 100% 15%;
  }

  .navigation {
    margin: 32px 39px 65px;
  }

  .title {
    max-width: 473px;
  }

  .title h1 {
    font-size: 60px;
  }

  .hero-image {
    top: 380px;
  }

  .pattern-1 {
    top: 116px;
    left: -180px;
  }

  .pattern-2 {
    top: 255px;
    right: -78px;
  }

  .bullets {
    padding: 290px 12% 111px;
  }

  .bullet-section {
    flex-direction: column;
    gap: 40px;
  }

  .bullet {
    display: grid;
    text-align: left;
    gap: 0px 32px;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "number title"
      "number description";
  }

  .bullet-number-wrapper {
    grid-area: number;
  }

  .bullet-number {
    font-size: 20px;
    width: 48px;
    height: 46px;
  }

  .bullet-title {
    grid-area: title;
    font-size: 28px;
  }

  .bullet-description {
    grid-area: description;
    font-size: 16px;
  }

  footer {
    padding: 80px 0 121px;
  }

  .founder-wrapper {
    min-height: 530px;
    margin-top: 0;
  }

  .founder-flex-wrapper {
    gap: 24px;
    padding: 56px;
  }

  .founder-title {
    font-size: 48px;
    line-height: 1;
  }

  .founder-description {
    font-size: 16px;
  }
  .founder-button {
    width: 172px;
    height: 55px;
    background-color: #44ffa1;
    border: none;
    font-family: "manrope";
    font-weight: bold;
  }

  .founder-svg {
    bottom: -100px;
    right: 0;
  }
}

/* ************************************ MOBILE ******************************** */

@media screen and (max-width: 600px) {
  .header {
    min-height: 481px;
    border-bottom-right-radius: 200% 10%;
    border-bottom-left-radius: 200% 10%;
  }

  .navigation {
    margin: 32px 16px 65px;
  }

  .title {
    /* border: 2px solid springgreen; */
    max-width: 85%;
  }

  .title h1 {
    font-size: 50px;
  }

  .hero-image {
    width: clamp(250px, 80%, 85%);
  }

  .pattern-1,
  .pattern-2,
  .founder-svg {
    display: none;
  }

  .bullets {
    padding: 240px 12% 71px;
    border-bottom-right-radius: 200% 10%;
    border-bottom-left-radius: 200% 10%;
  }
  .bullet {
    display: flex;
    gap: 12px;
  }

  .founder-picture {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .founder-message {
    min-width: 100%;
  }

  .founder-flex-wrapper {
    align-items: center;
    gap: 16px;
    padding: 32px;
  }

  .founder-title {
    font-family: "fraunces";
    font-size: 32px;
  }

  .founder-description {
    font-family: "manrope";
    font-size: 16px;
  }
}

@media screen and (max-width: 430px) {
  .founder-wrapper {
    min-height: 580px;
  }

  footer {
    padding: 74px 0 63px;
  }
}
